*::-webkit-scrollbar {
  width: 6px; }

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15); }

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://img.freepik.com/free-photo/pink-piggy-bank-with-falling-coins-blue-background-financial-savings-banking-economy_486333-11.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center; }

.wrapper-top {
  width: 1170px;
  margin: auto;
  height: 50px; }

.header {
  display: flex; }
  .header h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px; }

.nav-area-r {
  float: right;
  list-style: none;
  margin-top: 30px; }

.nav-area-l {
  float: left;
  list-style: none;
  margin-top: 30px; }

.nav-area-li {
  display: inline-block; }
  .nav-area-li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase; }
    .nav-area-li a:hover {
      background: #fff;
      color: #333; }

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1170px;
  margin: auto;
  margin-top: 200px;
  margin-right: 100%; }
  .welcome-text h1 {
    text-align: center;
    color: #fff;
    font-size: 30px; }
  .welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff; }
    .welcome-text a:hover {
      background: #fff;
      color: #333; }

.Balance {
  position: absolute;
  margin-left: 73%;
  margin-top: -3%;
  color: #fff;
  text-align: center; }

.BalanceService {
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;
  color: #fff;
  text-align: center; }
  .BalanceService .box {
    position: relative;
    margin-top: 35%;
    max-width: 300px; }

.logs {
  overflow: auto;
  margin-left: 70%;
  margin-top: 10%;
  height: 15vw;
  width: 20vw;
  text-align: center; }
  .logs h1 {
    color: #fff;
    font-size: 30px; }

.log {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  opacity: 20%;
  color: black;
  padding: 20px; }

.box {
  padding: 40px;
  margin-top: 60px;
  position: absolute;
  width: 340px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; }
  .box input,
  .box a {
    border-color: #333;
    border-width: 2px;
    color: #fff;
    border-radius: 0.375rem;
    border: 1px solid #cad1d7;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center; }
  .box input[type="submit"],
  .box a {
    width: 100%;
    color: #fff;
    border: none;
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase; }
  .box input:hover,
  .box a:hover {
    background: #fff;
    color: #333; }

@media (max-width: 1370px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; } }

@media (orientation: portrait) {
  .nav-area-li a {
    font-size: 50px; }
  .box input {
    font-size: 50px; }
  .box input[type="submit"] {
    font-size: 40px; }
  .welcome-text a {
    font-size: 40px; }
  .welcome-text h1 {
    font-size: 80px; }
  .welcome-text {
    margin-top: 500px; } }
